input[type=range] {
  width:100%;
  margin-left: auto; margin-right: auto;
}

table {

width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

td {
 padding:10px;
}

.text {
  font-size: 30px;

  text-align: center;
}

span {
	color: green;
  font-size: 30px;
}

a {
	color: green;
  font-size: 30px;
}

.button {
  width:100%;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 10px;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: white;
  color: green;
  border: 2px solid #4CAF50;
}

.button_red {
  width:100%;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d0451b;
  border: 2px solid #d0451b;
  border-radius: 10px;
}
.button_red:hover {background-color: #bc3315}

.button_red:active {
  background-color: white;
  color: red;
  border: 2px solid #bc3315;
}

.button_orange {
  width:100%;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffab23;
  border: 2px solid #ffab23;
  border-radius: 10px;
}
.button_orange:hover {background-color: #f59b13}

.button_orange:active {
  background-color: white;
  color: green;
  border: 2px solid #ffab23;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
