
input[type=range] {
  width:600px;
  margin-left: auto; 
  margin-right: auto;
}

table {
    width: auto;
	height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	table-layout: fixed;
	border: 0px solid red;
	
}	

th {
  border: 0px solid black;
  width: 660px;
  height: 50px;
  text-align: center;
}

td {
  border: 0px solid green;
  width: 220px;
  height: 50px;
}
tabelle2 {
  border: 0px solid blue;
  width: 220px;
  height: 10px;
}

.text {
  font-size: 30px;
  text-align: center;
}

span {
  color: #115bf0;
  font-size: 30px;
}

a {
  color: #115bf0;
  font-size: 30px;
}
div {
	font-size: 30px;
	text-align: center;
}	

.button {
  width:220px;
  height:220px;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #2111f0;
  background-color: #00c5ff;
  border: 2px solid #1411f0;
  border-radius: 10px;  
}
.button:hover {background-color: #d3d3d3}

.button:active {
  background-color: white;
  color: #115bf0;
  border: 2px solid #00c5ff;
}

.button_red {
  width:220px;
  height:220px;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d0451b;
  border: 2px solid #1411f0;
  border-radius: 10px;
}
.button_red:hover {background-color: #bc3315}

.button_red:active {
  background-color: white;
  color: red;
  border: 2px solid #bc3315;
}

.button_orange {
  width:220px;
  height:220px;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffab23;
  border: 2px solid #1411f0;
  border-radius: 10px;
}
.button_orange:hover {background-color: #f59b13}

.button_orange:active {
  background-color: white;
  color: black;
  border: 2px solid #ffab23;
}
.button_clear {
  width:220px;
  height:220px;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: white;
  border: 0px solid #1411f0;
  border-radius: 10px;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #1411f0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #33ccff;
    cursor: pointer;
}
.PWM1 {   
	width: 220px;
    height: 25px;
	transform: rotate(-90deg);  
	background: none;
	background-color: grey;
	
}
.PWM2 { 
	width: 220px;
    height: 25px;
	transform: rotate(90deg);  
	background: none;
	background-color: grey;		
}	 
.PWM3 { 
	width: 50px;
    height: 25px;
	transform: rotate(-90deg);  
	background: none;
	background-color: orange;		
}	 

.Bumper { 
	width: 140px;
    height: 25px;
	transform: rotate(0deg);  
	background: red;
	background-color: red;	
}	 

meter::-moz-meter-bar {
        box-shadow: 0 5px 5px -5px #999 inset;
        background-image: linear-gradient( 90deg,  
		lightblue 0%,   
        blue 100%
		);
        background-size: 100% 100%;
}


    